<!DOCTYPE html>
<html>
    <head>
        <title>
            Manager soft        
        </title>
        <link />
    </head>
    <body>
        <h1>Capital Shipping Manager</h1>
        <div id="container">
        {% block content %}
        {% endblock %}
        </div>
        <h3> ---- end of base template ----</h3>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
        <script type = "text/javascript" src = "static/dist.js"> </script>  
    </body>
</html>
