<!DOCTYPE html>
<html>
    <head>
        <title>
            Manager soft        
        </title>
        <link />
    </head>
    <body>
        <h1>Capital Shipping Manager</h1>
        <div id="container">
        {% block content %}
        {% endblock %}
        </div>
        <h3> ---- end of base template ----</h3>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type = "text/javascript" src = "static/script.js"> </script>    
    </body>
</html>
