 {% extends 'base.html' %}

{% block title %}
    
    Shipmanager main page - index 
    
 {% endblock %}

{% block content %}
<br />
<form id="vessel_selection" action="/xhr_test" method="post">{% csrf_token %}
    <label> Select vessel:</label>
    <select name="q" id="q">
        {% for vessel in vessels %}
        <option value='{{vessel.id}}'>{{vessel.vsl_name}}</option>
        {% endfor %}
    </select>
    <label> Select voyage:</label>
    <select name="vg" id="vg">
    </select> 
</form>
<form id="voyage_selection" action="/xhr_test" method="post">{% csrf_token %}   
</form>
<br/>
        <tr value='{{port.id}}'>
            <td><button id ="dist"> Manage distances </button></td>
            <td><button id='voyages'> Manage voyages </button></td>
            <td><button id='Something else'> Reserved </button></td>
        </tr> 

<br/>
<div id="operations"> </div>
<br/>
<br /><br /><a href="/blog"> Blog </a>
<script type = "text/javascript" src = "static/js/script.js"> </script>	
{% endblock %}
