<!DOCTYPE html>
<html lang="en-us"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Log in | Django site admin</title>
<link rel="stylesheet" type="text/css" href="Log%20in%20%7C%20Django%20site%20admin_files/base.css">
<link rel="stylesheet" type="text/css" href="Log%20in%20%7C%20Django%20site%20admin_files/login.css">
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>

<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class="login">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name">Django administration</h1>

        </div>
        
        
    </div>
    <!-- END Header -->
    
    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        
        




<div id="content-main">
<form action="/admin/" method="post" id="login-form"><div style="display:none"><input name="csrfmiddlewaretoken" value="nazKD6IBQAWrl1cvxaOXw2vY91Czdeqx" type="hidden"></div>
  <div class="form-row">
    
    <label for="id_username" class="required">Username:</label> <input value="root" id="id_username" name="username" maxlength="30" type="text">
  </div>
  <div class="form-row">
    
    <label for="id_password" class="required">Password:</label> <input name="password" id="id_password" type="password">
    <input name="this_is_the_login_form" value="1" type="hidden">
    <input name="next" value="/admin/" type="hidden">
  </div>
  
  
  <div class="submit-row">
    <label>&nbsp;</label><input value="Log in" type="submit">
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>

        
        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->



</body></html>